<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default = "false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find binpicking)/worlds/binpicking.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <!-- Start move_group -->
  <include file="$(find binpicking_moveit_config)/launch/move_group.launch"/>

  <group ns="/robot1">
	  <param name="robot1_description" 
	      command="$(find xacro)/xacro $(find binpicking)/urdf/binpicking.xacro" />

	   <!-- Load the controllers for robot1. -->
	  <rosparam file="$(find binpicking)/config/r1_joint_state_controller.yaml" command="load"/>
	  <rosparam file="$(find binpicking)/config/robot1_controller.yaml" command="load"/>


	    <!-- Spawn robot1, its state publisher and controller. -->
	    <node name="robot1_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model robot1 -param robot1_description -J robot1_shoulder_lift_joint -0.48 -J robot1_elbow_joint 0.38" respawn="false" output="screen">
	    </node>

	  <node name="robot1_controller_spawner" pkg="controller_manager" type="spawner"
	      args="r1_joint_state_controller robot1_controller"/>
  </group>
  <!-- Combine joint state information from two robots. -->
<!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/robot1/joint_states,/robot2/joint_states]</rosparam>
    <remap from="/joint_states" to="/combined_joint_states"/>
  </node>
-->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/robot1/joint_states]</rosparam>
  </node>

  <!-- Start RVIZ with Gazebo if necessary -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find binpicking)/config/binpicking.rviz"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robots_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

<!--
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="-4.0 -0.2 0 0 0 0 1 map odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 1 map world"/>
-->
</launch>
